{% extends "base.html" %}

{% block title %}{{ title }} — Bibliotek{% endblock %}

{% block meta %}
    <meta name="description" content="{{ author }} · {{ year_published }}">
    <meta property="og:title" content="{{ title }} — Bibliotek">
    <meta property="og:description" content="{{ author }} · {{ year_published }}">
{% endblock %}

{% block og_type %}article{% endblock %}

{% block body %}
    <article>
        <nav class="homie"><a href="{{ base_url }}/index.html">inicio</a></nav>
        <h1>{{ title }}</h1>
        <div class="meta">
            <span>{{ author }}</span>
            <span>{{ year_published }}</span>
            <span class="rating">{% for i in range(end=rating) %}✦{% endfor %}{% for i in range(end=5 - rating) %}✧{% endfor %}</span>
            <p class="date-read">Leído el {{ date_read }}</p>
            <div class="tags">
                {% for tag in tags %}
                <span>{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <hr class="review-divider">
        <div class="content">
            {{ content | safe }}
        </div>
    </article>
{% endblock %}
