{% extends "base.html" %}

{% block title %}{{ title }} — Bibliotek{% endblock %}

{% block meta %}
    <meta name="description" content="{{ topic }}">
    <meta property="og:title" content="{{ title }} — Bibliotek">
    <meta property="og:description" content="{{ topic }}">
{% endblock %}

{% block body %}
    <main>
        <nav class="homie"><a href="{{ base_url }}/index.html">inicio</a></nav>
        <section class="section-block">
            <h1>{{ title }}</h1>
            {% if topic %}
            <p class="section-topic">{{ topic }}</p>
            {% endif %}

            {% if content %}
            <div class="content">
                {{ content | safe }}
            </div>
            {% endif %}

            {% if dir_reviews %}
            <div class="book-list">
                {% for review in dir_reviews %}
                <figure class="book-item">
                    <span class="book-title"><a href="./{{ review.path }}">{{ review.title }}</a></span>
                    <span class="book-author">por {{ review.author }}</span>
                    <span class="book-date">{{ review.date_read }}</span>
                </figure>
                {% endfor %}
            </div>
            {% endif %}
        </section>
    </main>
{% endblock %}
